body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    min-height: 100vh;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    background-color: #444;
    border-radius: 5px;
}

.sidebar ul li a:hover {
    background-color: #555;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
}

.main-content h2 {
    margin-bottom: 20px;
}

.main-content table {
    width: 100%;
    border-collapse: collapse;
}

.main-content table th, .main-content table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}
#vehicleStatusChart {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
